* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color-green: #009788;
  --bg-color-grey: #dadbd5;
  --bg-color-grey-white: #ede9ea;
  --bg-color-celest: #8edafc;
}

/* common */
.row {
  display: flex;
}

.margin-left-text {
  margin-left: 22px;
}

.header-standard {
  background-color: var(--bg-color-grey-white);
  height: 70px;
  padding: 12px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* /common */

body {
  background-color: var();
  height: 100vh;
  position: relative;
}

body::before {
  content: '';
  background-color: var(--bg-color-green);
  position: absolute;
  height: 15%;
  width: 100%;
  z-index: -10;
}

/* main */
main {
  height: 100%;
  padding: 20px;
}

.container {
  background-color: red;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
}

/* colonna sinistra */
/* caratteristiche della colonna di sinistra */
.col-left {
  background-color: blue;
  width: 30%;
  display: flex;
  flex-direction: column;
}

/* parte della notifica */
.notification {
  background-color: var(--bg-color-celest);
  height: 80px;
  padding: 15px 20px;
  align-items: center;
}

.notification-text {
  margin-left: 8px;
}

/* /parte della notifica */

/* parte della ricerca contatti  */
.search-box {
  height: 50px;
  background-color: var(--bg-color-grey-white);
  padding: 8px;
}

.search {
  height: 100%;
  align-items: center;
  background-color: white;
  border-radius: 3px;
}

.search-icon {
  width: 65px;
  text-align: center;
}

.search input {
  border: none;
}

/* /parte della ricerca contatti */

/* parte degli contatti  */
.contact-box {
  background-color: var(--bg-color-grey-white);
  flex-grow: 1;
  padding-right: 15px;
  overflow-y: auto;
}

.list-contact {
  list-style-type: none;
  background-color: white;
}

.list-contact .contact {
  height: 80px;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 10px 20px;
}

/* /parte degli contatti  */
/* /colonna sinistra */

.col-right {
  background-color: yellow;
  width: 70%;
}
/*/main */
